* {
    margin: 0;
    padding: 0;
    text-decoration: none;
    list-style: none;
    font-family: 'Noto Sans KR', sans-serif;
}

body {
    overflow-x: hidden;
    overflow-y: auto;
}
a:link{
    color: #222222;
    text-decoration: none;
}
a:visited{
    color: #222222;
    text-decoration: none;
}
.banner{
    width: 1920px;
    height: 200px;
    overflow: hidden;
    position: relative;
    display: block;
    z-index:-1;
    margin: auto;
}
.mainbanner>img{
   display: block;
   width: auto;
   margin: auto; 
}
.banner .txt{
    position: absolute;
    top: 20%;
	left: 46%;
    font-size: 36px;
    font-weight: bold;
    color: #ffffff;
}
.banner .txt2{
    position: absolute;
    top: 50%;
	left: 42%;
    font-size: 20px;
    text-align: left;
    color: #ffffff;
}
.banner .txt2>span{
    color: #ff9eb3;
}
.maincontent{
	margin:auto;
    width: 1200px;
}
.categoryMenu{
    margin-top: 60px;
    display: flex;
    justify-content: space-around;
    border-top: 1px solid #dddddd;
    border-bottom: 1px solid #dddddd;
    padding: 20px 20px;
    font-size: 16px;
}
.categoryMenu>div>a{
    color: #888888;
}
.items {
    width: 1200px;
    overflow: hidden;
}
.item{
    width: 288px;
    height: 300px;
    margin-top: 50px;
    box-shadow: 0 0 0 1px #dddddd inset;
    float:left;
    margin-left: 10px;
}
.item>div{
	margin-left : 15px;
}
.item>div:nth-child(1){
	margin-left : 0px;
}
.item>div>a>img{
	width: 286px;
	height : 160px;
	object-fit: cover;
	margin-left : 1px;
	margin-top : 1px;
}
.pd-sellr>a{
    font-size: 12px;
    color: #888888;
}
.pd-name>a{
    font-size: 14px;
    font-weight: 600;
}
.pd-price>a{
    font-size: 14px;
    font-weight: 600;
}
.pd-price{
    margin-top: 30px;
}
.click>a{
	color: #92b6f3 !important;
}